@import "../../../styles/mixins.scss";

.container {
  @include wrapper;
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
}

.areasList {
  &Container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
  }
  &Item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 550px;

    &Title {
      margin-bottom: 20px;
      text-align: center;
    }
    &Divisor {
      margin: 0 20px;
      min-width: 4px;
      height: auto;
      background: linear-gradient(0deg, rgba(252, 222, 241, 0) 0%, var(--pink100) 50%, rgba(252, 222, 241, 0) 100%);
    }
  }
}

@include tablet {
  .areasList {
    &Container {
      margin: 30px 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    &Item {
      margin-bottom: 20px;

      &Divisor {
        margin-bottom: 10px;
        width: 100%;
        max-width: 550px;
        height: 4px;
        background: linear-gradient(90deg, rgba(252, 222, 241, 0) 0%, var(--pink100) 50%, rgba(252, 222, 241, 0) 100%);
      }
    }
  }
}
