@import "../../styles/mixins.scss";

.containerSection {
  @include wrapper;
  display: flex;
  padding-bottom: 100px;
  justify-content: space-between;
  &TextRight {
    flex-direction: row-reverse;
  }
  &Text {
    width: 48%;
  }
  &Image {
    width: 48%;
  }
}

@include tablet {
  .containerSection {
    flex-direction: column;
    align-items: center;
    &Text {
      width: 100%;
      margin-bottom: 50px;
    }
    &Image {
      width: 100%;
      margin-bottom: 100px;
      @include mobile {
        margin-bottom: 70px;
      }
    }
  }
}
