@import "../../../styles/mixins.scss";

.container {
  @include wrapper;

  .navBar {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 40px;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;

    @include mobile-min {
      gap: 5px;
    }

    &Tab {
      cursor: pointer;
      position: relative;
      height: 100%;
      transition: 0.3s;
      border: 1px solid var(--pink200);
      border-radius: 5px;
      width: 100%;
      max-width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      text-align: center;

      &:hover {
        transform: scale(1.03);
        border: 1px solid var(--pink400);
        box-shadow: inset 0px 0px 8px var(--gray200);
      }
    }
  }
}
