* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // color
  --white: #fff;
  --gray100: #f4f6fc;
  --gray200: #DFE0E6;
  --gray300: #a8a8b3;
  --gray700: #323238;
  --gray800: #29292e;
  --gray850: #1f2729;
  --gray900: #121214;

  --pink100: #FCDEF1;
  --pink200: #E6CADB;
  --pink300:#F2D5E7;
  --pink400: #FA73C2;
  
  // font-size
  --bigger: 2.5rem;
  --big: 2rem;
  --medium: 1.5rem;
  --medium-min: 1.17rem;
  --default: 1rem;
  --small: 0.875rem;
  --smaller: 0.75rem;
}

body, input, textarea, select, button {
  font: 300 1rem "Lato", sans-serif;
  color: var(--gray700);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--gray700);
}

button {
  cursor: pointer;
}

body {
  height: 100vh;
}

#__next {
  height: 100%;
}


a {
  color: inherit;
  text-decoration: none;
}