@import "../styles/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // color
  --white: #fff;
  --gray100: #f4f6fc;
  --gray200: #dfe0e6;
  --gray300: #a8a8b3;
  --gray600: #616161;
  --gray700: #323238;
  --gray800: #29292e;
  --gray850: #1f2729;
  --gray900: #121214;

  --pink100: #fcdef1;
  --pink200: #e6cadb;
  --pink300: #f2d5e7;
  --pink400: #fa73c2;
  --pink500: #a894a1;

  // font-size
  --bigger: 2.5rem;
  --big: 2rem;
  --medium: 1.5rem;
  --medium-min: 1.17rem;
  --default: 1rem;
  --small: 0.875rem;
  --smaller: 0.75rem;
}

body,
input,
textarea,
select,
button {
  font: 300 1rem "Lato", sans-serif;
  color: var(--gray600);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--gray600);
}

h1 {
  font-size: 2.2rem;
  @include tablet {
    font-size: 2rem;
  }
  @include mobile {
    font-size: 1.75rem;
  }
}

p {
  line-height: 25px;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  .slick-active {
    background: var(--pink100) !important;
  }
}

.slick-arrow {
  z-index: 10;
  fill: var(--pink100);
  width: 40px;
  height: 40px;
}

.slick-next {
  right: 15px;
}

.slick-prev {
  left: 15px;
}

.hide {
  opacity: 0;
}

.appear {
  transition: 2s;
  opacity: 1;
}

@include mobile {
  .slick-next {
    right: 0px;
  }

  .slick-prev {
    left: 0px;
  }
}
