@import "../styles/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // color
  --white: #fff;
  --gray50: #fafcff;
  --gray100: #f4f6fc;
  --gray200: #dfe0e6;
  --gray300: #a8a8b3;
  --gray600: #616161;
  --gray700: #323238;
  --gray800: #29292e;
  --gray850: #1f2729;
  --gray900: #121214;

  --pink100: #fcdef1;
  --pink200: #e6cadb;
  --pink300: #f2d5e7;
  --pink400: #fa73c2;
  --pink500: #a894a1;

  --greenWhatsapp: #035d4b;

  // font-size
  --bigger: 2.5rem;
  --big: 2rem;
  --medium: 1.5rem;
  --medium-min: 1.17rem;
  --default: 1rem;
  --small: 0.875rem;
  --smaller: 0.75rem;
}

body,
input,
textarea,
select,
button {
  font: 300 1rem "Lato", sans-serif;
  color: var(--gray600);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--gray600);
}

h1 {
  font-size: 2.2rem;
  @include tablet {
    font-size: 2rem;
  }
  @include mobile {
    font-size: 1.75rem;
  }
}

p {
  line-height: 28px;
  font-weight: 400;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  .slick-active {
    background: var(--pink100) !important;
  }
}

img {
  width: 100%;
  height: auto;
}

.title {
  margin-bottom: 30px;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 4px;
    height: 300px;
    background: linear-gradient(0deg, rgba(252, 222, 241, 0) 0%, var(--pink100) 70%, var(--pink300) 100%);
    position: absolute;
    left: -15px;
    top: 50%;
  }
}

.textContainer {
  p {
    text-indent: 1rem;
    text-align: justify;
  }
  p:not(:last-child) {
    margin-bottom: 10px;
  }
}

.mainTitle {
  padding-top: 40px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  &::after {
    position: absolute;
    display: block;
    content: "";
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    height: 4px;
    background: linear-gradient(90deg, rgba(252, 222, 241, 0) 0%, var(--pink100) 25%, var(--pink300) 50%, rgba(252, 222, 241, 0) 100%);
  }
  @include mobile {
   padding-top: 30px;
  }
}

main {
  padding-top: 85px !important;
  background: var(--gray50);
}

.section {
  margin-bottom: 100px;
}

.slick-arrow {
  z-index: 10;
  fill: var(--pink100);
  width: 60px;
  height: 60px;
}

.slick-next {
  right: 15px;
}

.slick-prev {
  left: 15px;
}

.hide {
  opacity: 0;
}

.appear {
  transition: 2s;
  opacity: 1;
}

.slick-slide>div {
  display: flex;
  justify-content: center;
  margin: 0 5px;
} 

@include desktop-min {
  .title {
    &::before {
      left: -10px;
    }
  }
}

@include tablet {
  .title {
    &::before {
      left: -15px;
    }
  }
  .slick-arrow {
    width: 50px;
    height: 50px;
  }
  .title {
    margin-bottom: 20px !important;
  }
  .mainTitle {
    margin-bottom: 40px;

    // &::after {
    //   margin-left: initial;
    //   left: initial;
    // }
  }

  .section {
    margin-bottom: 30px;
  }
}

@include mobile {
  .title {
    &::before {
      left: -10px;
    }
  }
  .slick-arrow {
    width: 40px;
    height: 40px;
  }
  .slick-next {
    right: 0px;
  }

  .slick-prev {
    left: 0px;
  }

  .section {
    margin-bottom: 50px;
  }

  .mainTitle {
    margin-bottom: 50px;
  }
}
