@mixin wrapper {
    width: 100%;
	padding: 0 1rem;
	margin: 0 auto;
}

@mixin content {
    width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

@mixin tablet {
	@media screen and (max-width: 1024px) {
	  @content;
	}
}

@mixin mobile {
	@media screen and (max-width: 575px) {
	  @content;
	}
}

@mixin mobile-min {
	@media screen and (max-width: 375px) {
	  @content;
	}
}