@mixin wrapper {
  width: 100%;
  max-width: 1952px;
  margin: 0 auto;
  padding: 0 1rem;

  @media screen and (max-width: 1920px) {
    max-width: 1600px;
  }
  @media screen and (max-width: 1600px) {
    max-width: 1500px;
  }
  @media screen and (max-width: 1366px) {
    max-width: 1300px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0 2rem;
  }
  @media screen and (max-width: 575px) {
    padding: 0 1rem;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 575px) {
    @content;
  }
}

@mixin mobile-min {
  @media screen and (max-width: 375px) {
    @content;
  }
}
