.articlesSliderSection {
  svg {
    width: 40px;
    height: 40px;
  }
}

.articlesCtaContainer {
    display: flex;
    justify-content: center;
}

.articlesBttnSeeMore {
  margin: 0 auto;
  margin-top: 35px;
}

.articleContainer {
    position: relative;
    transition: 0.3s;
  
    @media (min-width: 1024px) {
      &:hover {
        z-index: 100;
        & .articleDescriptionContainer {
          h3 {
            margin-bottom: 7px;
          }
          p {
            max-height: 250px;
          }
        }
      }
    }
  }

.articleDescriptionContainer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.4) 62%, rgba(244, 246, 252, 0) 100%);
  h3 {
    transition: 0.3s;
    transition-delay: 0.1s;
    color: var(--white);
  }
  p {
    color: var(--white);
    transition: 0.3s;
    transition-delay: 0.1s;
    max-height: 0px;
    overflow: hidden;
  }
}