@import '../../styles/mixins.scss';

.container {
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--gray200);
    @include wrapper;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.logo {
    cursor: pointer;
    font-size: var(--bigger);
    font-weight: 400;
}