@import '../../styles/mixins.scss';

.container {
    position: fixed;
    height: auto;
    border-bottom: 1px solid var(--gray200);
    @include wrapper;
    background: rgba(244, 246, 252,0.6);
    backdrop-filter: blur(6px);
    box-shadow: 0px 1px 5px 0px var(--gray200);
    z-index: 999;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    overflow: hidden;
    @include content;

    .menuDesktop {
        &__list {
            display: flex;
            justify-content: flex-end;
        }
    }

}

.menuMobile {
    &__buttonMenu {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        
        &__text {
            z-index: 100;
            margin-right: 8px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    &__container {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
        width: 100%;
        height: 100vh;
        z-index: -100;
    }

    &__list {
        position: fixed;
        z-index: -1;
        right: 0px;
        top: 86px;
        opacity: 0;
        border-bottom-left-radius: 20px;
        transform: translateX(200px);
        transition: 0.2s;
        min-width: 160px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 1rem;
        padding-bottom: 2rem;
        background: rgba(244, 246, 252,0.6);
        backdrop-filter: blur(6px);
    }
    &__listOpened {
        transform: initial;
        visibility: visible;
        opacity: 1;
        z-index: 999;
        & .menuMobile__list {
            transform: translateX(0px);
            opacity: 1;
            box-shadow: 0px 1px 5px 0px var(--gray200);
        }
    }
}

.logo {
    &__content {
        cursor: pointer;
        margin-right: 15px;    
    }
}