@import "../../../styles/mixins.scss";

.containerSection {
  @include wrapper;
  &Text {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto 60px;
  }
  &Image {
    display: flex;
    justify-content: center;
  }
}
